* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background-color: rgb(149, 246, 138);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.container {
    border-radius: 10px;
    box-shadow: 5px 5px rgba(90, 93, 91, 0.1);
    padding: 1rem;
    display: grid;
    gap: 0.7rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 400px;
    height: 600px;
    background-color: black;
}
.button{
    box-shadow: 2px 2px rgba(126, 122, 122, 0.2);
    border-radius: 10px;
    font-weight: bold;
    color: rgb(215, 227, 238);
    font-size: 2rem;
    border: none;
    background: rgb(44, 50, 44);
    display: flex;
    align-items: center;
    justify-content: center;
}
.wholeScreen {
    padding: 8px;
    display: flex;
    flex-direction: column; 
    border-radius: 8px;
    grid-column: span 4;
    background-color: rgb(44, 50, 44);
    height: 120px;
}
.butscreen.recent {
    color: rgb(215, 227, 238);
    padding: 8px;
    font-size: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 1;
}

.but.equals {
color: black;
background-color: lightgreen;
grid-column: span 2;
}

.button.butC:hover {
    color: black;
    background-color: red;
}
.button.butAC {
color: red;
}
.button.butAC:hover {
    color: black;
    background-color: red;
}
.button.buto:hover {
    color: black;
    background-color : yellow;
}
.button.but:hover {
    color: black;
    background-color: coral
}
.but.equals:hover {
    background-color:limegreen;
}